@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    margin: 0;
    /* font-family: Merriweather; */
    /* background-color: #4C566A; */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.alpha {
    color: #DC143C;
}

.underConstraction {
    text-align: center;
    text-decoration: dotted;
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.mainimg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}