body {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.controlls {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.controlls > div > input {
    width: 140px;
    height: 80px;
    margin: 10px;
    font-size: 3em;
    border: none;
    background-color: darkslateblue;
    color: lightsalmon;
    border-radius: 0px;
}

canvas {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}
